body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card, form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.artist-item {
    margin: 10px;
    min-width: 200px;
    text-align: center;
}

.artist-item a {
    text-decoration: none;
    color: inherit;
}

.artist-item img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.goback {
    text-align: center;
    margin-top: 20px; /* Optional: Adds space above the button */
}

.goback a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    text-align: center;
}

.goback a:hover {
    background-color: #0056b3;
}

details {
    margin-bottom: 20px;
}
